---
layout: base
---

<main class="container mx-auto max-w-3xl flex flex-col flex-wrap items-center px-6 pt-24 md:pt-36">
	<p class='self-start text-green-700 text-xs'>Last update: {{ page.date.toLocaleString() }}</p>
	<header class="flex w-full flex-col justify-center overflow-y-hidden lg:items-start">
		<h1 class="my-4 text-left text-3xl font-bold leading-tight text-white md:text-4xl">
			{{ metadata.title }}
		</h1>
		<p class="mb-10 text-base leading-normal md:text-left md:text-xl">{{ metadata.description }}</p>
	</header>
	<div class="self-start">
		{{ content | safe }}
	</div>
</main>
