---
layout: index
date: Last Modified
---

<div class='grid grid-cols-3 gap-3 mx-1'>
  {% for member in members %}
    <div class="w-full flex flex-row gap-3 items-center">
      <div class="w-14 h-14 flex items-center justify-center text-2xl 
      bg-{{ metadata.colors | pickone(member.initials, loop.index0) }}-500 text-gray-200
      overflow-hidden whitespace-nowrap rounded-full cursor-pointer
      border-2 border-gray-200 transition-transform hover:-translate-y-1"
      title="{{ member.name }}">
        {{ member.initials }}
      </div>
      <p>{{ member.name }}</p>
    </div>
  {% endfor %}
</div>